@import 'tailwindcss';

/*font*/

@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('/font/JetBrainsMono-Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'JetBrainsMono-Medium';
    src: url('/font/JetBrainsMono-Medium.woff2') format('woff2');
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    /* background: var(--background);
  color: var(--foreground); */
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'JetBrainsMono-Medium';
    background-color: #1a1a1a;
    color: #fff;
}

main {
    max-width: 1100px;
    margin: 10px auto;
    padding: 0 1%;
}

a,
button {
    display: inline-block;
    cursor: pointer;
}

i,
em,
b {
    font-style: normal;
}

.keep-all {
    word-break: keep-all;
}
